@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooths;
}

.eeeee {
  -webkit-line-clamp: 2;
}

.fadeOn {
    animation-name: fadeOn;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes fadeOn {
    from {
        right: -300px;
    }
    to {
        right: 0;
    }
}

.welcome-tarot__content {
    color: #fff;
    font-size: 200px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%;
  }

.welcome-tarot__content:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }
  .welcome-tarot__content:nth-child(2) {
    color: #fff;
    animation: animate 3s ease-in-out infinite;
  }
  @media (min-width: 581px) and (max-width: 1023px) {
    .welcome-tarot__content {
      font-size: 150px;
    }
  }
  @media (max-width: 580px) {
    .welcome-tarot__content {
      font-size: 70px;
    }
  }
  @keyframes animate {
    0%, 100% {
      clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
      clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
  }
  

  .input {
    -webkit-appearance: none;
   /* remove default */
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 12px;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
    background-color: white;
    background-image: -webkit-radial-gradient( hsla(200,100%,90%,1) 0%, hsla(200,100%,70%,1) 15%, hsla(200,100%,60%,.3) 28%, hsla(200,100%,30%,0) 70% );
    background-repeat: no-repeat;
    -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
      -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
    outline: none;
  }
  
  .input:checked {
    -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
      -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
  }
  
  .input:active {
    -webkit-transform: scale(1.5);
    -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
  }
  
  
  
  /* The up/down direction logic */
  
  .input,
  .input:active {
    background-position: 0 24px;
  }
  
  .input:checked {
    background-position: 0 0;
  }
  
  .input:checked ~ .input,
  .input:checked ~ .input:active {
    background-position: 0 -24px;
  }